#ide settings
.vscode
#logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
#build
dist
src/db/prisma/migrations
#local files
*.local 
node_modules
# Keep environment variables out of version control
.env

#db tests
*.session.sql